<div class="container">
  <div class="my-4 bg-secondary text-white p-3 rounded d-flex justify-content-between">
    <h3>Product</h3>
    <button type="button" class="btn btn-secondary btn-sm border" [routerLink]="['/','dashboard', 'product', 'add']">Tambah product</button>
  </div>
  <table class="table table-bordered border border-dark rounded">
    <thead>
      <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let data of productList;let i=index;">
        <th scope="row" class="text-center">{{i + 1}}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.categoryName}}</td>
        <td>{{ data.stock}}</td>
        <td>{{ data.price}}</td>

        <td class="d-flex justify-content-center gap-2">
        <fa-icon [icon]="faInfoCircle" [routerLink]="['/','dashboard', 'product', data.id]"></fa-icon>
        <fa-icon [icon]="faEdit" [routerLink]="['/','dashboard', 'product', 'update', data.id]"></fa-icon>
        <fa-icon [icon]="faTrashAlt" (click)="delete(data.id)"></fa-icon>
      </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>

