<div class="container">
  <div class="my-4">
    <h3>Detail User</h3>
  </div>
  <table class="table border border-2">
    <div class="card p-3">
<div class="mb-3">
  <label for="Username" class="form-label">Username</label>
  <input type="text" class="form-control" id="name" placeholder="{{user.username}}" disabled>
</div>
<div class="mb-3">
  <label for="Email" class="form-label">Email</label>
  <input type="email" class="form-control" id="name" placeholder="{{user.email}}" disabled>
</div>
<div class="mb-3">
  <label for="Phone" class="form-label">Phone</label>
  <input type="" class="form-control" id="phone" placeholder="{{user.phone}}" disabled>
</div>
</div>
