<div class="container">
  <div class="my-4">
    <h3>Detail Category</h3>
  </div>
  <table class="table border border-2">
    <div class="card p-3">
<div class="mb-3">
  <label for="Id" class="form-label">Category Name</label>
  <input type="number" class="form-control" id="categoryName" placeholder="{{category.id}}" disabled>
</div>
<div class="mb-3">
  <label for="CategoryName" class="form-label">Category Name</label>
  <input type="text" class="form-control" id="categoryName" placeholder="{{category.name}}" disabled>
</div>
</div>
